<!DOCTYPE html>
<html>
<head>
	<title>404 Error</title>
	<link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='images/icon.png')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style_404.css')}}">
</head>
<body>
	<div class="container">
		<h2>Oops Page not Found.</h2>
		<h1>404</h1>
		<p>We are sorry, the page you requested could not be found.
		Please press the button below to go back.</p>
		<a href="/"><b>Go back home<b></a>

	</div>

</body>
</html>
