<!DOCTYPE html>
<html>
<head>
	<title>Landing page</title>
	<link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='images/icon.png')}}">
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
	<div class="loader">
        <img src="{{url_for('static', filename='images/splash.gif')}}" />
    </div>
	<div class="container">
		<h2>Welcome to the landing page.</h2>
		<a href="/form">Go to next page.</a>
	</div>

<script src="static/js/script.js"></script>
</body>

</html>
