<!DOCTYPE html>
<html>
<head>
	<title>Landing page</title>
	<link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='images/icon.png')}}">
	<link rel="stylesheet" href="../static/css/style_landingpage.css">
</head>
<body>
	
	<img id="img1" src="../static/images/asset1.png" alt="">
	<img id="img2" src="../static/images/Group 10@3x.png" alt="">
    <nav id="navbar">
		<div id="logo">
			<img src="../static/images/Group -9@3x.png" alt="">
		</div>
		
		<ul>
			<li class="item"><a href="#"><img src="../static/images/Home-1@3x.png" alt=""></a></li>
			<li class="item"><a href="#"><img src="../static/images/Tools-1@3x.png" alt=""></a></li>
			<li class="item"><a href="#"><img src="../static/images/About-1@3x.png" alt=""></a></li>
			<li class="item"><a href="#"><img src="../static/images/Group 22@3x.png" alt=""></a></li>
		</ul>
	</nav>
	
	<img id="asset3" src="../static/images/Malaria@3x.png" alt="">
	<img id="asset4" src="../static/images/According to WHOthe estimated number of malariadeaths stood at 405 000 in 2018@3x.png" alt="">
	<img id="asset5" src="../static/images/Group 1@3x.png" alt="">

	<a href="#"><img id="asset6" src="../static/images/Group 5@3x.png" alt=""></a>

	<img id="asset7" src="../static/images/Group 9@2x.png" alt="">
	<img id="asset8" src="../static/images/Ellipse -2@2x.png" alt="">
	

	<img id="asset10" src="../static/images/Group -7@3x.png" alt=""> 
	<img id="asset9" src="../static/images/Group 19@3x.png" alt="">
	<img id="asset11" src="../static/images/asset11.png" alt="">
	<a href="#"><img id="asset12" src="../static/images/Group 21@3x.png" alt=""></a>
	<img id="asset13" src="../static/images/Group 10@3x.png" alt="">
	
	<img id="path3" src="../static/images/Path -3@3x.png" alt=""> 
	<img id="path2" src="../static/images/Path -2@2x.png" alt="">
	<img id="path1" src="../static/images/Path -1@3x.png" alt="">
	
	<img id="X" src="../static/images/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-1@3x.png" alt="">
<script src="static/js/script.js"></script>
</body>

</html>
